body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: lightgrey;
}

header {
    height: 100px;    
    box-sizing: border-box;
    padding-left: 25px; 
    background-color: white;
    line-height: 100px;
}

header > * {
    vertical-align: middle;
}

.logo {
    height: 4rem;
    
}

.logotype {
    display: inline-block;
    font-size: 3rem;
    margin: 0;
}

main {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 15px 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Pulsanti */
.rounded {
    font-family: 'Roboto', sans-serif;
    }

.button {
    background-color: dodgerblue;
    color: white;
    border-style: none;
    border-radius: 7px;
    width: 100px;
    height: 40px;
}

.button:hover {
    background-color: white;
    color: lightgrey;
    border: 3px solid lightgrey;
    border-radius: 7px;
    width: 100px;
    height: 40px;
}