body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(248, 248, 248);
}

header {
    height: 125px;    
    box-sizing: border-box;
    padding-left: 25px; 
    background-color: white;
    line-height: 125px;
}

header > * {
    vertical-align: middle;
}

.logo {
    height: 6rem;
    
}

.logotype {
    display: inline-block;
    font-size: 4rem;
    margin: 0;
    font-weight: 900 ;
}

main {
    width: 70%;
    margin: 80px auto;
    background-color: white;
    padding: 15px 80px;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(78, 78, 78);
    font-weight: 400;
}

/* Pulsanti */

nav {
    margin-top: 10px;
}


.rounded {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    }

.button {
    background-color: dodgerblue;
    color: white;
    border-style: none;
    border-radius: 7px;
    height: 40px;
    padding: 10px;
}

.button:hover {
    background-color: white;
    color: lightgrey;
    border: 3px solid lightgrey;
    border-radius: 7px;
    height: 40px;
    padding: 10px;
}


/* Liste */

ul {
    padding: 0;
}

li {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 3rem;
}

.arrow:before {
 content: "⯆";
 font-size: 1rem;
 vertical-align: middle;
 line-height: 30px;
}

.listcontainer {
    border-top: 3px solid rgb(248, 248, 248);
    margin-top: 10px;
}

.titoli {
    font-size: 2rem ;
    font-weight: 900;
      
}

.checklist {
    list-style: none;
}

.check:before {
    display: inline-block;
    content: "\2713";
    font-size: 1rem;
    position: relative;
    color: green;
    line-height: 20px;
    width: 20px;
    height: 20px;  
    border-radius: 50%;
    border: 2px solid green;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    align-content: center;

}

.cross:before {
    display: inline-block;
    content: "\2717";
    font-size: 1rem;
    position: relative;
    color: red;
    line-height: 20px;
    width: 20px;
    height: 20px;  
    border-radius: 50%;
    border: 2px solid red;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    

}

/* Etichette */

.tag {
    color: white;
    font-size: 1rem;
}

.editorial:before {    
    background-color: dodgerblue;
    content: "Editorial";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.goals:before {
    background-color: blueviolet;
    content: "Q1 Goals";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.recruit:before {
    background-color: mediumseagreen;
    content: "Recruiting";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;

}

.mobile:before {
    background-color: orangered;
    content: "Mobile";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.website:before {
    background-color: hotpink ;    
    content: "Website";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.sales:before {
    background-color: palegreen;
    content: "Sales";
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}